- @repos_by_organization.each do |organization, repos|
  .organization
    %header.organization-header
      %h2.organization-header-title
        = organization
    %section.repo_listing
      %ul.repos
      - repos.each do |repo|
        %li.repo
          .repo-name
            = repo.name
          .repo-activation-toggle
            - if repo.current_user_admin?
              %button.repo-toggle
                Activate
            - else
              .repo-restricted
                Only repo admins can activate
